---
import { getCollection, getEntry } from 'astro:content'

import Button from '@myorg/ui/button'
import Text from '@myorg/ui/text'

import { getLocale, locales, localizeHref } from '@/i18n/runtime'

import Layout from '@/layouts/Layout.astro'

import LatestPostsSection from '@/components/LatestPostsSection.astro'
import NewsletterSection from '@/components/NewsletterSection.astro'

import { ButtonGroup } from '@myorg/ui'

const currentLocale = getLocale()

const homepage = await getEntry('pages', `home-${currentLocale}`)

if (homepage === undefined || homepage.data.locale !== currentLocale)
  return Astro.rewrite('/404')

const posts = await getCollection(
  'posts',
  ({ data }) => data.locale === currentLocale,
)

const metadata = {
  title: homepage.data.title,
  description: homepage.data.description,
  // image: `opengraph-page-${homepage.id}.png`,
  alternates: locales.map((locale) => ({
    locale,
    href: localizeHref('', { locale }),
  })),
}
---

<Layout metadata={metadata}>
  <main id='main-content'>
    <hgroup>
      <Text
        as='h1'
        variant='heading-large'>
        {metadata.title}
      </Text>
      <Text
        as='p'
        variant='body-medium'>
        {homepage.data.description}
      </Text>
    </hgroup>
    <Button>Click me</Button>
    <Button
      as='a'
      href='https://google.com'
      target='_blank'
      >Click me</Button
    >
    <Button as='div'>Click me</Button>

    <ButtonGroup label='toto'>
      <Button variant='outline'>View</Button>
      <Button variant='outline'>Edit</Button>
      <Button variant='outline'>Delete</Button>
    </ButtonGroup>

    <LatestPostsSection posts={posts.map((post) => post.data)} />
    <NewsletterSection />
  </main>
</Layout>
