---
import { getCollection, getEntry } from 'astro:content'

import { getLocale, locales, localizeHref } from '@/i18n/runtime'

import Layout from '@/layouts/Layout.astro'

import LatestPostsSection from '@/components/LatestPostsSection.astro'
import NewsletterSection from '@/components/NewsletterSection.astro'

const currentLocale = getLocale()

const homepage = await getEntry('pages', `home-${currentLocale}`)

if (homepage === undefined || homepage.data.locale !== currentLocale)
  return Astro.rewrite('/404')

const posts = await getCollection(
  'posts',
  ({ data }) => data.locale === currentLocale,
)

const metadata = {
  title: homepage.data.title,
  description: homepage.data.description,
  image: `opengraph-page-${homepage.id}.png`,
  alternates: locales.map((locale) => ({
    locale,
    href: localizeHref('', { locale }),
  })),
}
---

<Layout metadata={metadata}>
  <main id='main-content'>
    <hgroup>
      <h1>{metadata.title}</h1>
      <p>{homepage.data.description}</p>
    </hgroup>
    <!-- <img
      src={`/opengraph-page-${homepage.id}.png`}
      alt={homepage.data.title}
    /> -->
    <LatestPostsSection posts={posts.map((post) => post.data)} />
    <NewsletterSection />
  </main>
</Layout>
